---
layout: default
---

<h1 class="title">Chuck's homepage</h1>

<h3>About</h3>

<p>I'm a software engineer at <a href="https://www.etsy.com/">Etsy</a> working on the Market Localization team. I've been working remotely for over 6 years and use the lack of a commute to ride my bike and spend time with my kids.

<h3>Social</h3>

<p>I quit most social media in 2016, with the exception of Instagram. After reading Deep Work in 2018, I ditched Instagram as well. I'm on <a href="https://www.linkedin.com/in/chuck-callebs-9b13276/">LinkedIn</a> although I rarely check it. I do love <a href="https://github.com/ccallebs">GitHub</a>.</p>

<h3>Creations</h3>

<ul>
  <li><a href="https://www.meerstats.com/">Meerstats</a> - quick, easy emails of your daily metrics</li>
  <li><a href="https://www.ketohunt.com/">KetoHunt</a> - curated, searchable list of keto-friendly products</li>
</ul>

<h3>Open Source</h3>

<ul>
  <li><a href="https://github.com/ccallebs/pokey">pokey</a> - simulate production webhooks</a></li>
  <li><a href="https://github.com/ccallebs/pokey-sendgrid">pokey-sendgrid</a> - sendgrid templates for pokey</a></li>
  <li><a href="https://github.com/ccallebs/griddler-amazon_ses">griddler-amazon_ses</a> - griddler adapter for Amazon's Simple Email Service</li>
  <li><a href="https://rubygems.org/profiles/ccallebs">My Rubygems Profile</a></li>
</ul>
